    .card {
    margin: 20px; 
    width: 250px; 
    text-align: center; 
    background-color: #e8e8e8 !important;
    }

    .nav-link button {
      margin-left: 10px;
    }
  
    button:active {
      transform: scale(0.95);
    }

    button {
      background-color: #e8e8e8;
      color: black;
      cursor: pointer;
      border-radius: 8px !important;
      border-color: #E5383B;
      width: 100px;
      height: 45px;
      transition: 0.3s;
    }
    
    button:hover {
      box-shadow: 0 0 0 2px #e8e8e8;
    }
    
    #row2{
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap; 
    }

    .row3 {
      display: flex; 
      justify-content: center; 
      flex-wrap: wrap; 
      }
    
    h1{
      font-size: 20px !important;
      font-weight: 600px;
      letter-spacing: 2px;
    }
    
    .card-title{
      color: black !important;
      font-weight: bold;
      font-size: 31px;
      padding-top: 30px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .card-text{
      color: black;
      font-size: 13px;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    h1{
      margin-top: 110px !important;
    }